{% extends 'partials/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <p>
                An email has been sent to your email address with the password reset token.
                <br><br>
                <small class="text-muted">
                Please checkout your email <strong>(don't forget to check your spam folder if not appears in your regular inbox)</strong> and reset your password.</small>
            </p>
        </div>
    </div>
{% endblock content %}
