<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2 px-md-4 px-lg-5">
    <span class="navbar-brand">Djabgo Blog</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% url 'blog-home' as url_blog_home %}
            <li class="nav-item {% if request.path == url_blog_home %}active{% endif %}">
                <a class="nav-link" href="{{ url_blog_home }}">Home</a>
            </li>
            {% url 'blog-about' as url_blog_about %}
            <li class="nav-item {% if request.path == url_blog_about %}active{% endif %}">
                <a class="nav-link" href="{{ url_blog_about }}">About</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                {% url 'post-create' as url_post_create %}
                <li class="nav-item {% if request.path == url_post_create %}active{% endif %}">
                    <a href="{{ url_post_create }}" class="nav-link">New Post</a>
                </li>
                {% url 'profile' as url_profile %}
                <li class="nav-item {% if request.path == url_profile %}active{% endif %}">
                    <a href="{{ url_profile }}" class="nav-link">Profile</a>
                </li>
                {% url 'logout' as url_logout %}
                <li class="nav-item">
                    <a href="{{ url_logout }}" class="nav-link">Logout</a>
                </li>
            {% else %}
                {% url 'login' as url_login %}
                <li class="nav-item {% if request.path == url_login %}active{% endif %}">
                    <a href="{{ url_login }}" class="nav-link">Login</a>
                </li>
                {% url 'register' as url_register %}
                <li class="nav-item {% if request.path == url_register %}active{% endif %}">
                    <a href="{{ url_register }}" class="nav-link">Resgister</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
