{% extends 'partials/base.html' %}

{% block content %}
    <h2 class="pb-2 mb-4 border-bottom border-dark">Posts by {{ view.kwargs.username}} ({{ page_obj.paginator.count}})</h2>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5><a class="h5" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
                    By <a href="{% url 'user-posts' post.author.username %}"><strong>{{ post.author }}</strong></a> on <strong>{{ post.date_posted|date:'F d, Y' }}</strong>
                </div>
                <div class="card-body">
                    <p>{{ post.content }}</p>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
                {% elif num|add:'3' > page_obj.number and num|add:'-3' < page_obj.number %}
                    <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
                {% endif %}
            {% endfor %}


            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}"> Last</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h4 class="h4 text-center">This user haven't write up anything yet.</h4>
    {% endif %}
{% endblock content %}
